.offering-container {
  width: 920px;
  height: 364px;
  border-radius: 2px;
  border: solid 0.5px #c8c8c8;
  float: left;
  margin: 20px;
}

.offering-left {
  width: 640px;
	height: 364px;
  float: left;
  /*background-color: lightblue;*/
}

.separator {
  border-left: 1px solid #c8c8c8;
  width: 1px;
  height: 80%;
  float:inherit;
  margin-top: 35px;
}

.offering-right {
  width: 260px;
	height: 364px;
  float: right;
  /*background-color: lightblue;*/
}

.offering-category {
	height: 10px;
	font-family: "Roboto", "Helvetica", Arial, sans-serif;
	font-size: 10px;
	color: #969696;
  padding: 5px 15px 0px 15px;
}

.offering-title {
  width: 260px;
	height: 12px;
	font-family: "Roboto", "Helvetica", Arial, sans-serif;
	font-size: 12px;
	color: #3299ff;
  padding: 0px 15px 0px 15px;
}

.offering-summary {
  width: 566px;
	font-family: "Roboto", "Helvetica", Arial, sans-serif;
	font-size: 12px;
	line-height: 1.5;
  padding: 0px 15px 0px 15px;
}

.offering-pre-funded-box {
	width: 607px;
	height: 172px;
  background-color: #f2f4f6;
  margin: 0px 15px 0px 15px;
}

.oval {
	width: 25px;
	height: 25px;
	background-color: #f0f0f0;
  margin: 0px 15px 0px 15px;
  border-radius: 50%;
  margin: 15px;
  float: left;
}

.oval-copy {
	width: 25px;
	height: 25px;
	background-color: #f0f0f0;
	border: solid 1px #fff;
  margin: 15px 30px 0px 30px;
  border-radius: 50%;
  /*float: right;*/
  position: absolute;
  z-index: 10;
}

.offering-log-in {
	font-family: "Roboto", "Helvetica", Arial, sans-serif;
	font-size: 10px;
	color: #000000;
  padding: 15px;
  float: left;
}

a {
	font-family: "Roboto", "Helvetica", Arial, sans-serif;
	color: #3299ff;
}

.status-bar {
  height: 6px;
  width: 100%;
  background-color: green;
}

.status-bar-text {
  font-size: 12px;
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  text-align: center;
  background-color: #f0f0f0;
}

.progress-bar {
  height: 30px;
  width: 100%;
  font-size: 10px;
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  text-align: center;
}

.progress-bar-title {
  font-size: 10px;
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
}

.remaining-sum {
	font-family: "Roboto", "Helvetica", Arial, sans-serif;
  font-weight: lighter;
	font-size: 20px;
  text-align: right;
  padding-right: 15px;
}

.remaining-text {
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
  font-size: 10px;
  text-align: right;
  padding-right: 15px;
}



button {
	width: 124px;
	height: 32px;
	border-radius: 2px;
	background-color: #fedc3d;
  border: none;
  font-size: 12px;
  font-family: "Roboto", "Helvetica", Arial, sans-serif;
}
